data-access/tree-manager-library/3.0.1-4.8.0-125728/my-container/share/schema/tree-manager/TBinder.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="T-Binder"
	targetNamespace="http://gcube-system.org/namespaces/data/tm" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://gcube-system.org/namespaces/data/tm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types">

	<import
		namespace="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"
		location="../gcube/common/core/providers/GCUBEProvider.wsdl" />

	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
		location="../wsrf/properties/WS-ResourceProperties.wsdl" />

	<wsdl:import namespace="http://gcube-system.org/namespaces/common/core/faults"
		location="../gcube/common/core/faults/GCUBEFaults.wsdl" />



	<!-- ============================================================ T Y P 
		E S ============================================================ -->
	<types>
		<xsd:schema targetNamespace="http://gcube-system.org/namespaces/data/tm"
			xmlns:tns="http://gcube-system.org/namespaces/data/tm" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing"
				schemaLocation="../ws/addressing/WS-Addressing.xsd" />
			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"
				schemaLocation="../gcube/common/core/types/GCUBETypes.xsd" />

			<xsd:element name="BindRequest" type="tns:BindParameters" />
			<xsd:element name="BindResponse" type="tns:sourceBindings" />

			<xsd:complexType name="BindParameters">
				<xsd:sequence>
					<xsd:element name="broadcast" nillable="false" type="xsd:boolean"
						minOccurs="1" maxOccurs="1" default="false" />
					<xsd:element name="plugin" type="xsd:string" nillable="false" />
					<xsd:element name="payload" type="tns:Payload" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="Payload">
				<xsd:sequence>
					<xsd:any processContents="skip" namespace="##any" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="sourceBinding">
				<xsd:sequence>
					<xsd:element name="sourceID" nillable="false" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="readerEndpoint" nillable="true"
						type="wsa:EndpointReferenceType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="writerEndpoint" nillable="true"
						type="wsa:EndpointReferenceType" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="sourceBindings">
				<xsd:sequence>
					<xsd:element name="bindings" nillable="false"
						type="tns:sourceBinding" minOccurs="1" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PluginDescription">
				<xsd:sequence>
					<xsd:element name="name" nillable="false" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="description" nillable="false" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="property" nillable="true"
						type="coretypes:descriptiveProperty" minOccurs="0" maxOccurs="unbound" />
					<xsd:element name="schema" nillable="true" type="xsd:string"
						minOccurs="0" maxOccurs="unbound" />
				</xsd:sequence>
			</xsd:complexType>

			<!-- faults -->
			<xsd:element name="InvalidRequestFault">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="corefaults:GCUBEUnrecoverableFault" />
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="collectionID" type="xsd:string" />
			<xsd:element name="cardinality" type="xsd:long" />
			<xsd:element name="lastUpdate" type="xsd:dateTime" />

			<xsd:complexType name="UpdateNotificationType">
				<xsd:sequence>
					<xsd:element ref="tns:collectionID" />
					<xsd:element ref="tns:cardinality" />
					<xsd:element ref="tns:lastUpdate" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="UpdateNotificationMessage" type="tns:UpdateNotificationType" />

			<xsd:complexType name="UpdateNotificationTypeWrapper">
				<xsd:sequence>
					<xsd:element ref="tns:UpdateNotificationMessage" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>

	</types>


	<message name="BindRequest">
		<part name="request" element="tns:BindRequest" />
	</message>
	<message name="BindResponse">
		<part name="response" element="tns:BindResponse" />
	</message>

	<message name="InvalidRequestFaultMessage">
		<part name="fault" element="tns:InvalidRequestFault" />
	</message>


	<portType name="TBinderPortType" wsdlpp:extends="provider:GCUBEProvider">


		<operation name="bind">
			<input message="tns:BindRequest" />
			<output message="tns:BindResponse" />
			<fault name="invalidrequestfault" message="tns:InvalidRequestFaultMessage"></fault>
			<fault name="gcubefault" message="corefaults:GCUBEFaultMessage"></fault>
		</operation>

	</portType>


</definitions>