application/aquamaps.aquamapsservice/5.0.7-4.1.0-132827/wsdl/AquaMapsTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://gcube-system.org/namespaces/application/aquamaps/types"
	xmlns:tns="http://gcube-system.org/namespaces/application/aquamaps/types"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
	xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
	xmlns:gistypes="http://gcube-system.org/namespaces/application/aquamaps/gistypes"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	
	<xsd:simpleType name="character">
      <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
        <xsd:minLength value="1"/>
      </xsd:restriction>
    </xsd:simpleType>
	
	<xsd:simpleType name="orderDirection">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration  value="ASC"/>
				<xsd:enumeration  value="DESC"/>
			</xsd:restriction>
		</xsd:simpleType>
	
	<xsd:simpleType name="fieldType">
			<xsd:restriction base="xsd:string">
				<xsd:enumeration  value="INTEGER"/>
				<xsd:enumeration  value="BOOLEAN"/>
				<xsd:enumeration  value="STRING"/>
				<xsd:enumeration  value="DOUBLE"/>
				<xsd:enumeration  value="LONG"/>
				<xsd:enumeration  value="TIMESTAMP"/>
			</xsd:restriction>
		</xsd:simpleType>
	
		<xsd:complexType name="perturbation">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="field" type="xsd:string" />
					<xsd:element name="toPerturbId" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			
			
			<xsd:complexType name="envelopeWeights">
				<xsd:sequence>
					<xsd:element name="speciesId" type="xsd:string" />
					<xsd:element name="weights" type="tns:fieldArray" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="customization">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" />
					<xsd:element name="perturbationList" type="tns:perturbation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="field">
				<xsd:sequence>
					<xsd:element name="type" type="tns:fieldType" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="filter">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
					<xsd:element name="fieldType" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resource">
				<xsd:sequence>
					<xsd:element name="searchId" type="xsd:int" />
					<xsd:element name="title" type="xsd:string" />				
					<xsd:element name="tableName" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="disclaimer" type="xsd:string" />
					<xsd:element name="provenance" type="xsd:string" />
					<xsd:element name="date" type="xsd:long" />
					<xsd:element name="sourceHCAFIds" type="xsd:string" />
					<xsd:element name="sourceHSPENIds" type="xsd:string" />
					<xsd:element name="sourceHSPECIds" type="xsd:string" />
					<xsd:element name="sourceOccurrenceCellsIds" type="xsd:string"/>
					<xsd:element name="parameters" type="xsd:string" />
					<xsd:element name="status" type="xsd:string" />
					<xsd:element name="sourceHCAFTables" type="xsd:string" />
					<xsd:element name="sourceHSPENTables" type="xsd:string" />
					<xsd:element name="sourceHSPECTables" type="xsd:string" />
					<xsd:element name="sourceOccurrenceCellsTables" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="algorithm" type="xsd:string" />
				 	<xsd:element name="defaultSource" type="xsd:boolean"/>
				 	<xsd:element name="percent" type="xsd:long"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="area">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="code" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="specie">
				<xsd:sequence>
					<xsd:element name="additionalField" type="tns:fieldArray" />
					<xsd:element name="id" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
  
  
			<xsd:complexType name="AquaMap">
				<xsd:sequence>
					<xsd:element name="boundingBox" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="date" type="xsd:long" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="selectedSpecies" type="tns:speciesArray" />
					<xsd:element name="layers" type="gistypes:layerArray"/>
					<xsd:element name="images" type="tns:fileArray" />
					<xsd:element name="additionalFiles" type="tns:fileArray"/>
					<xsd:element name="threshold" type="xsd:float" />
					<xsd:element name="status" type="xsd:string" />
					<xsd:element name="gis" type="xsd:boolean" />
					<xsd:element name="algorithmType" type="xsd:string" />					
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="job">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="aquaMapList" type="tns:aquaMapArray" />
					<xsd:element name="status" type="xsd:string" />
					<xsd:element name="hspec" type="tns:resource" />
					<xsd:element name="hspen" type="tns:resource" />
					<xsd:element name="hcaf" type="tns:resource" />
					<xsd:element name="selectedSpecies" type="tns:speciesArray" />
					<xsd:element name="envelopCustomization" type="tns:perturbationArray" />
					<xsd:element name="selectedAreas" type="tns:areasArray" />
					<xsd:element name="weights" type="tns:envelopeWeightArray" />
					<xsd:element name="author" type="xsd:string" />
					<xsd:element name="date" type="xsd:long" />
					<xsd:element name="relatedResources" type="tns:fileArray" />
					<xsd:element name="gis" type="xsd:boolean" />
					<xsd:element name="groupId" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="file">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="submitted">
			<xsd:sequence>
				<xsd:element name="author" type="xsd:string"/>
				<xsd:element name="startTime" type="xsd:long"/>
				<xsd:element name="endTime" type="xsd:long"/>
				<xsd:element name="submissionTime" type="xsd:long"/>
				<xsd:element name="gisEnabled" type="xsd:boolean"/>
				<xsd:element name="publishedIds" type="xsd:string"/>
				<xsd:element name="gisReferences" type="xsd:string"/>
				<xsd:element name="isAquaMap" type="xsd:boolean"/>
				<xsd:element name="jobId" type="xsd:int"/>
				<xsd:element name="saved" type="xsd:boolean"/>
				<xsd:element name="searchId" type="xsd:int"/>
				<xsd:element name="selectionCriteria" type="xsd:string"/>
				<xsd:element name="sourceHCAF" type="xsd:int"/>
				<xsd:element name="sourceHSPEC" type="xsd:int"/>
				<xsd:element name="sourceHSPEN" type="xsd:int"/>
				<xsd:element name="status" type="xsd:string"/>
				<xsd:element name="title" type="xsd:string"/>
				<xsd:element name="type" type="xsd:string"/>
				<xsd:element name="speciesCoverage" type="xsd:string"/>
				<xsd:element name="Customized" type="xsd:boolean"/>
				<xsd:element name="fileSetId"	type="xsd:string"/>		
				<xsd:element name="forceRegeneration" type="xsd:boolean"/>	
			</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="analysis">
			<xsd:sequence>
				<xsd:element name="id" type="xsd:string"/>
				<xsd:element name="title" type="xsd:string"/>
				<xsd:element name="author" type="xsd:string"/>
				<xsd:element name="description" type="xsd:string"/>
				<xsd:element name="status" type="xsd:string"/>
				
				<xsd:element name="startTime" type="xsd:long"/>
				<xsd:element name="endTime" type="xsd:long"/>
				<xsd:element name="submissionTime" type="xsd:long"/>
				
				<xsd:element name="currentPhasePercent" type="xsd:double"/>
				
				<xsd:element name="reportIds" type="xsd:string"/>
				<xsd:element name="type" type="xsd:string"/>
				<xsd:element name="performedAnalysis" type="xsd:string"/>
				<xsd:element name="archiveLocation" type="xsd:string"/>
				<xsd:element name="sources" type="xsd:string"/>
											
			</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="pagedRequestSettings">
				<xsd:sequence>
					<xsd:element name="limit"	type="xsd:int"/>
					<xsd:element name="offset"	type="xsd:int"/>
					<xsd:element name="orderField"	type="xsd:string"/>
					<xsd:element name="orderDirection"	type="tns:orderDirection"/>
				</xsd:sequence>
			</xsd:complexType>



			<xsd:complexType name="map">
				<xsd:sequence>
					<xsd:element name="gisLayer"   type="gistypes:layerInfoType"/>
					<xsd:element name="gis"		type="xsd:boolean"/>	
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="mapType" type="xsd:string"/>
					<xsd:element name="staticImages" type="tns:fileArray"/>
					<xsd:element name="resource"	type="tns:resource"/>
					<xsd:element name="coverage" type="xsd:string"/>
					<xsd:element name="creationDate" type="xsd:long"/>
					<xsd:element name="author" type="xsd:string"/>
					<xsd:element name="fileSetIt" type="xsd:string"/>
					<xsd:element name="layerId" type="xsd:string"/>
					<xsd:element name="speciesListCSV" type="xsd:string"/>
					<xsd:element name="custom" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:complexType>


			<!-- Arrays -->

			<xsd:complexType name="mapArray">
				<xsd:sequence>
					<xsd:element name="mapList" type="tns:map" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="fileArray">
				<xsd:sequence>
					<xsd:element name="fileList" type="tns:file" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="aquaMapArray">
				<xsd:sequence>
					<xsd:element name="aquaMapList" type="tns:AquaMap"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="perturbationArray">
				<xsd:sequence>
					<xsd:element name="perturbationList" type="tns:perturbation"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="customizationArray">
				<xsd:sequence>
					<xsd:element name="customizationList" type="tns:customization"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="envelopeWeightArray">
				<xsd:sequence>
					<xsd:element name="envelopeWeightList" type="tns:envelopeWeights"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="speciesArray">
				<xsd:sequence>
					<xsd:element name="speciesList" type="tns:specie"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="filterArray">
				<xsd:sequence>
					<xsd:element name="filterList" type="tns:filter"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="areasArray">
				<xsd:sequence>
					<xsd:element name="areasList" type="tns:area"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resourceArray">
				<xsd:sequence>
					<xsd:element name="resourceList" type="tns:resource"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="fieldArray">
				<xsd:sequence>
					<xsd:element name="fields" type="tns:field" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
</xsd:schema>
	