execution/workfloworchestrationlayerservice/1.0.1-4.0.0-126602/wsdl/WorkflowOrchestrationLayerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WorkflowOrchestrationLayerService"
    targetNamespace="http://gcube.org/namespaces/execution/WorkflowOrchestrationLayerService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://gcube.org/namespaces/execution/WorkflowOrchestrationLayerService"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"    
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
    xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
    xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider">

	<wsdl:import namespace="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider" location="../gcube/common/core/providers/GCUBEProvider.wsdl"/>
	<import namespace="http://gcube-system.org/namespaces/common/core/faults" location="../gcube/common/core/faults/GCUBEFaults.wsdl"/>
	<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types" schemaLocation="../gcube/common/core/types/GCUBETypes.xsd"/>

<types>
<xsd:schema targetNamespace="http://gcube.org/namespaces/execution/WorkflowOrchestrationLayerService"
    xmlns:tns="http://gcube.org/namespaces/execution/WorkflowOrchestrationLayerService"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd">

			<xsd:element name="adaptWOL" type="tns:WOLParams"/>
			<xsd:element name="adaptWOLResponse" type="xsd:string"/>


			<xsd:complexType name="WOLParams">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="executionLease" type="xsd:long"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="jdlDescription" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="wolResources" type="tns:WOLResource"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="jdlResources" type="tns:jdlResource"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="config" type="tns:WOLConfig"/>
			</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WOLResource">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resourceKey" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="inMessageBytePayload" type="xsd:base64Binary"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="jdlResource">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="resourceKey" type="xsd:string"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="inMessageStringPayload" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WOLConfig">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="chokeProgressEvents" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="chokePerformanceEvents" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="queueSupport" type="xsd:boolean"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="utilization" type="xsd:float"/>
					<xsd:element maxOccurs="1" minOccurs="1" name="passedBy" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			
</xsd:schema>
</types>

	<message name="adaptWOLInputMessage">
		<part name="request" element="tns:adaptWOL"/>
	</message>
	<message name="adaptWOLOutputMessage">
		<part name="response" element="tns:adaptWOLResponse"/>
	</message>

<portType name="WorkflowOrchestrationLayerServicePortType">

	<operation name="adaptWOL">
			<input message="tns:adaptWOLInputMessage"/>
			<output message="tns:adaptWOLOutputMessage"/>
	</operation>

</portType>

</definitions>
