vo-management/usermanagement-stubs/1.0.2-4.1.1-126934/schema/LiferaySOAPGroupManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. -->
<definitions targetNamespace="http://ws.usermanagement.vomanagement.gcube.org/" name="LiferaySOAPGroupManager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.usermanagement.vomanagement.gcube.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.usermanagement.vomanagement.gcube.org/" schemaLocation="LiferaySOAPGroupManager_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getGroupId">
    <part name="parameters" element="tns:getGroupId"/>
  </message>
  <message name="getGroupIdResponse">
    <part name="parameters" element="tns:getGroupIdResponse"/>
  </message>
  <message name="UserManagementSystemException">
    <part name="fault" element="tns:UserManagementSystemException"/>
  </message>
  <message name="GroupRetrievalFault">
    <part name="fault" element="tns:GroupRetrievalFault"/>
  </message>
  <message name="getGroup">
    <part name="parameters" element="tns:getGroup"/>
  </message>
  <message name="getGroupResponse">
    <part name="parameters" element="tns:getGroupResponse"/>
  </message>
  <message name="getScope">
    <part name="parameters" element="tns:getScope"/>
  </message>
  <message name="getScopeResponse">
    <part name="parameters" element="tns:getScopeResponse"/>
  </message>
  <message name="getGroupParentId">
    <part name="parameters" element="tns:getGroupParentId"/>
  </message>
  <message name="getGroupParentIdResponse">
    <part name="parameters" element="tns:getGroupParentIdResponse"/>
  </message>
  <message name="getRootVO">
    <part name="parameters" element="tns:getRootVO"/>
  </message>
  <message name="getRootVOResponse">
    <part name="parameters" element="tns:getRootVOResponse"/>
  </message>
  <message name="getRootVOName">
    <part name="parameters" element="tns:getRootVOName"/>
  </message>
  <message name="getRootVONameResponse">
    <part name="parameters" element="tns:getRootVONameResponse"/>
  </message>
  <message name="isRootVO">
    <part name="parameters" element="tns:isRootVO"/>
  </message>
  <message name="isRootVOResponse">
    <part name="parameters" element="tns:isRootVOResponse"/>
  </message>
  <message name="isVO">
    <part name="parameters" element="tns:isVO"/>
  </message>
  <message name="isVOResponse">
    <part name="parameters" element="tns:isVOResponse"/>
  </message>
  <message name="isVRE">
    <part name="parameters" element="tns:isVRE"/>
  </message>
  <message name="isVREResponse">
    <part name="parameters" element="tns:isVREResponse"/>
  </message>
  <message name="listGroups">
    <part name="parameters" element="tns:listGroups"/>
  </message>
  <message name="listGroupsResponse">
    <part name="parameters" element="tns:listGroupsResponse"/>
  </message>
  <message name="listGroupsAndRolesByUser">
    <part name="parameters" element="tns:listGroupsAndRolesByUser"/>
  </message>
  <message name="listGroupsAndRolesByUserResponse">
    <part name="parameters" element="tns:listGroupsAndRolesByUserResponse"/>
  </message>
  <message name="UserManagementPortalException">
    <part name="fault" element="tns:UserManagementPortalException"/>
  </message>
  <message name="UserRetrievalFault">
    <part name="fault" element="tns:UserRetrievalFault"/>
  </message>
  <message name="listGroupsByUser">
    <part name="parameters" element="tns:listGroupsByUser"/>
  </message>
  <message name="listGroupsByUserResponse">
    <part name="parameters" element="tns:listGroupsByUserResponse"/>
  </message>
  <message name="listPendingGroupsByUser">
    <part name="parameters" element="tns:listPendingGroupsByUser"/>
  </message>
  <message name="listPendingGroupsByUserResponse">
    <part name="parameters" element="tns:listPendingGroupsByUserResponse"/>
  </message>
  <message name="listSubGroupsByGroup">
    <part name="parameters" element="tns:listSubGroupsByGroup"/>
  </message>
  <message name="listSubGroupsByGroupResponse">
    <part name="parameters" element="tns:listSubGroupsByGroupResponse"/>
  </message>
  <portType name="LiferaySOAPGroupManagerPortType">
    <operation name="getGroupId">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupIdRequest" message="tns:getGroupId"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupIdResponse" message="tns:getGroupIdResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupId/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupId/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="getGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupRequest" message="tns:getGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupResponse" message="tns:getGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroup/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="getScope">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getScopeRequest" message="tns:getScope"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getScopeResponse" message="tns:getScopeResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getScope/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getScope/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="getGroupParentId">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupParentIdRequest" message="tns:getGroupParentId"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupParentIdResponse" message="tns:getGroupParentIdResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupParentId/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getGroupParentId/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="getRootVO">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVORequest" message="tns:getRootVO"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVOResponse" message="tns:getRootVOResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVO/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVO/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="getRootVOName">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVONameRequest" message="tns:getRootVOName"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVONameResponse" message="tns:getRootVONameResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVOName/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/getRootVOName/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="isRootVO">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isRootVORequest" message="tns:isRootVO"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isRootVOResponse" message="tns:isRootVOResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isRootVO/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isRootVO/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="isVO">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVORequest" message="tns:isVO"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVOResponse" message="tns:isVOResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVO/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVO/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="isVRE">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVRERequest" message="tns:isVRE"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVREResponse" message="tns:isVREResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVRE/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/isVRE/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="listGroups">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsRequest" message="tns:listGroups"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsResponse" message="tns:listGroupsResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroups/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="listGroupsAndRolesByUser">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsAndRolesByUserRequest" message="tns:listGroupsAndRolesByUser"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsAndRolesByUserResponse" message="tns:listGroupsAndRolesByUserResponse"/>
      <fault message="tns:UserManagementPortalException" name="UserManagementPortalException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsAndRolesByUser/Fault/UserManagementPortalException"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsAndRolesByUser/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsAndRolesByUser/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsAndRolesByUser/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listGroupsByUser">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsByUserRequest" message="tns:listGroupsByUser"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsByUserResponse" message="tns:listGroupsByUserResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listGroupsByUser/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="listPendingGroupsByUser">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listPendingGroupsByUserRequest" message="tns:listPendingGroupsByUser"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listPendingGroupsByUserResponse" message="tns:listPendingGroupsByUserResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listPendingGroupsByUser/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="listSubGroupsByGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listSubGroupsByGroupRequest" message="tns:listSubGroupsByGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listSubGroupsByGroupResponse" message="tns:listSubGroupsByGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listSubGroupsByGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPGroupManager/listSubGroupsByGroup/Fault/GroupRetrievalFault"/>
    </operation>
  </portType>
  <binding name="LiferaySOAPGroupManagerPortBinding" type="tns:LiferaySOAPGroupManagerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getGroupId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getScope">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getGroupParentId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getRootVO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getRootVOName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="isRootVO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="isVO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="isVRE">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listGroups">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="listGroupsAndRolesByUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementPortalException">
        <soap:fault name="UserManagementPortalException" use="literal"/>
      </fault>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listGroupsByUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="listPendingGroupsByUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="listSubGroupsByGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LiferaySOAPGroupManager">
    <port name="LiferaySOAPGroupManagerPort" binding="tns:LiferaySOAPGroupManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

