vo-management/usermanagement-stubs/1.0.2-4.1.1-126934/schema/LiferaySOAPUserManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. -->
<definitions targetNamespace="http://ws.usermanagement.vomanagement.gcube.org/" name="LiferaySOAPUserManager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.usermanagement.vomanagement.gcube.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.usermanagement.vomanagement.gcube.org/" schemaLocation="LiferaySOAPUserManager_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getUserId">
    <part name="parameters" element="tns:getUserId"/>
  </message>
  <message name="getUserIdResponse">
    <part name="parameters" element="tns:getUserIdResponse"/>
  </message>
  <message name="UserManagementSystemException">
    <part name="fault" element="tns:UserManagementSystemException"/>
  </message>
  <message name="getMembershipRequestComment">
    <part name="parameters" element="tns:getMembershipRequestComment"/>
  </message>
  <message name="getMembershipRequestCommentResponse">
    <part name="parameters" element="tns:getMembershipRequestCommentResponse"/>
  </message>
  <message name="UserManagementPortalException">
    <part name="fault" element="tns:UserManagementPortalException"/>
  </message>
  <message name="GroupRetrievalFault">
    <part name="fault" element="tns:GroupRetrievalFault"/>
  </message>
  <message name="getMembershipRequests">
    <part name="parameters" element="tns:getMembershipRequests"/>
  </message>
  <message name="getMembershipRequestsResponse">
    <part name="parameters" element="tns:getMembershipRequestsResponse"/>
  </message>
  <message name="UserRetrievalFault">
    <part name="fault" element="tns:UserRetrievalFault"/>
  </message>
  <message name="getUser">
    <part name="parameters" element="tns:getUser"/>
  </message>
  <message name="getUserResponse">
    <part name="parameters" element="tns:getUserResponse"/>
  </message>
  <message name="getUserByScreenName">
    <part name="parameters" element="tns:getUserByScreenName"/>
  </message>
  <message name="getUserByScreenNameResponse">
    <part name="parameters" element="tns:getUserByScreenNameResponse"/>
  </message>
  <message name="listPendingUsersByGroup">
    <part name="parameters" element="tns:listPendingUsersByGroup"/>
  </message>
  <message name="listPendingUsersByGroupResponse">
    <part name="parameters" element="tns:listPendingUsersByGroupResponse"/>
  </message>
  <message name="listUnregisteredUsersByGroup">
    <part name="parameters" element="tns:listUnregisteredUsersByGroup"/>
  </message>
  <message name="listUnregisteredUsersByGroupResponse">
    <part name="parameters" element="tns:listUnregisteredUsersByGroupResponse"/>
  </message>
  <message name="listUsers">
    <part name="parameters" element="tns:listUsers"/>
  </message>
  <message name="listUsersResponse">
    <part name="parameters" element="tns:listUsersResponse"/>
  </message>
  <message name="listUsersAndGroupsByRole">
    <part name="parameters" element="tns:listUsersAndGroupsByRole"/>
  </message>
  <message name="listUsersAndGroupsByRoleResponse">
    <part name="parameters" element="tns:listUsersAndGroupsByRoleResponse"/>
  </message>
  <message name="RoleRetrievalFault">
    <part name="fault" element="tns:RoleRetrievalFault"/>
  </message>
  <message name="listUsersAndRolesByGroup">
    <part name="parameters" element="tns:listUsersAndRolesByGroup"/>
  </message>
  <message name="listUsersAndRolesByGroupResponse">
    <part name="parameters" element="tns:listUsersAndRolesByGroupResponse"/>
  </message>
  <message name="listUsersByGroup">
    <part name="parameters" element="tns:listUsersByGroup"/>
  </message>
  <message name="listUsersByGroupResponse">
    <part name="parameters" element="tns:listUsersByGroupResponse"/>
  </message>
  <message name="listUsersByGroupAndRole">
    <part name="parameters" element="tns:listUsersByGroupAndRole"/>
  </message>
  <message name="listUsersByGroupAndRoleResponse">
    <part name="parameters" element="tns:listUsersByGroupAndRoleResponse"/>
  </message>
  <message name="getUserCustomAttributeByName">
    <part name="parameters" element="tns:getUserCustomAttributeByName"/>
  </message>
  <message name="getUserCustomAttributeByNameResponse">
    <part name="parameters" element="tns:getUserCustomAttributeByNameResponse"/>
  </message>
  <message name="getUserCustomAttributes">
    <part name="parameters" element="tns:getUserCustomAttributes"/>
  </message>
  <message name="getUserCustomAttributesResponse">
    <part name="parameters" element="tns:getUserCustomAttributesResponse"/>
  </message>
  <portType name="LiferaySOAPUserManagerPortType">
    <operation name="getUserId">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserIdRequest" message="tns:getUserId"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserIdResponse" message="tns:getUserIdResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserId/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="getMembershipRequestComment">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestCommentRequest" message="tns:getMembershipRequestComment"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestCommentResponse" message="tns:getMembershipRequestCommentResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestComment/Fault/UserManagementSystemException"/>
      <fault message="tns:UserManagementPortalException" name="UserManagementPortalException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestComment/Fault/UserManagementPortalException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestComment/Fault/GroupRetrievalFault"/>
    </operation>
    <operation name="getMembershipRequests">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestsRequest" message="tns:getMembershipRequests"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequestsResponse" message="tns:getMembershipRequestsResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequests/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequests/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getMembershipRequests/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="getUser">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserRequest" message="tns:getUser"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserResponse" message="tns:getUserResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUser/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUser/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="getUserByScreenName">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserByScreenNameRequest" message="tns:getUserByScreenName"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserByScreenNameResponse" message="tns:getUserByScreenNameResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserByScreenName/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserByScreenName/Fault/UserRetrievalFault"/>
      <fault message="tns:UserManagementPortalException" name="UserManagementPortalException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserByScreenName/Fault/UserManagementPortalException"/>
    </operation>
    <operation name="listPendingUsersByGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listPendingUsersByGroupRequest" message="tns:listPendingUsersByGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listPendingUsersByGroupResponse" message="tns:listPendingUsersByGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listPendingUsersByGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listPendingUsersByGroup/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listPendingUsersByGroup/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listUnregisteredUsersByGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUnregisteredUsersByGroupRequest" message="tns:listUnregisteredUsersByGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUnregisteredUsersByGroupResponse" message="tns:listUnregisteredUsersByGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUnregisteredUsersByGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUnregisteredUsersByGroup/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUnregisteredUsersByGroup/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listUsers">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersRequest" message="tns:listUsers"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersResponse" message="tns:listUsersResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsers/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsers/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listUsersAndGroupsByRole">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndGroupsByRoleRequest" message="tns:listUsersAndGroupsByRole"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndGroupsByRoleResponse" message="tns:listUsersAndGroupsByRoleResponse"/>
      <fault message="tns:UserManagementPortalException" name="UserManagementPortalException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndGroupsByRole/Fault/UserManagementPortalException"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndGroupsByRole/Fault/UserManagementSystemException"/>
      <fault message="tns:RoleRetrievalFault" name="RoleRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndGroupsByRole/Fault/RoleRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndGroupsByRole/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listUsersAndRolesByGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndRolesByGroupRequest" message="tns:listUsersAndRolesByGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndRolesByGroupResponse" message="tns:listUsersAndRolesByGroupResponse"/>
      <fault message="tns:UserManagementPortalException" name="UserManagementPortalException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndRolesByGroup/Fault/UserManagementPortalException"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndRolesByGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndRolesByGroup/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersAndRolesByGroup/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listUsersByGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroupRequest" message="tns:listUsersByGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroupResponse" message="tns:listUsersByGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroup/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="listUsersByGroupAndRole">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroupAndRoleRequest" message="tns:listUsersByGroupAndRole"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroupAndRoleResponse" message="tns:listUsersByGroupAndRoleResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroupAndRole/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/listUsersByGroupAndRole/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="getUserCustomAttributeByName">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributeByNameRequest" message="tns:getUserCustomAttributeByName"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributeByNameResponse" message="tns:getUserCustomAttributeByNameResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributeByName/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributeByName/Fault/UserRetrievalFault"/>
    </operation>
    <operation name="getUserCustomAttributes">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributesRequest" message="tns:getUserCustomAttributes"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributesResponse" message="tns:getUserCustomAttributesResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributes/Fault/UserManagementSystemException"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPUserManager/getUserCustomAttributes/Fault/UserRetrievalFault"/>
    </operation>
  </portType>
  <binding name="LiferaySOAPUserManagerPortBinding" type="tns:LiferaySOAPUserManagerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getUserId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMembershipRequestComment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserManagementPortalException">
        <soap:fault name="UserManagementPortalException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getMembershipRequests">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getUserByScreenName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserManagementPortalException">
        <soap:fault name="UserManagementPortalException" use="literal"/>
      </fault>
    </operation>
    <operation name="listPendingUsersByGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listUnregisteredUsersByGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsersAndGroupsByRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementPortalException">
        <soap:fault name="UserManagementPortalException" use="literal"/>
      </fault>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="RoleRetrievalFault">
        <soap:fault name="RoleRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsersAndRolesByGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementPortalException">
        <soap:fault name="UserManagementPortalException" use="literal"/>
      </fault>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsersByGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="listUsersByGroupAndRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getUserCustomAttributeByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getUserCustomAttributes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LiferaySOAPUserManager">
    <port name="LiferaySOAPUserManagerPort" binding="tns:LiferaySOAPUserManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

