vo-management/usermanagement-stubs/1.0.2-4.0.0-126934/schema/LiferaySOAPIdentityProvider.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. -->
<definitions targetNamespace="http://ws.usermanagement.vomanagement.gcube.org/" name="LiferaySOAPIdentityProvider" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.usermanagement.vomanagement.gcube.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.usermanagement.vomanagement.gcube.org/" schemaLocation="LiferaySOAPIdentityProvider_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="listGroupsAndRolesByUserCustomField">
    <part name="parameters" element="tns:listGroupsAndRolesByUserCustomField"/>
  </message>
  <message name="listGroupsAndRolesByUserCustomFieldResponse">
    <part name="parameters" element="tns:listGroupsAndRolesByUserCustomFieldResponse"/>
  </message>
  <message name="UserManagementPortalException">
    <part name="fault" element="tns:UserManagementPortalException"/>
  </message>
  <message name="UserManagementSystemException">
    <part name="fault" element="tns:UserManagementSystemException"/>
  </message>
  <message name="GroupRetrievalFault">
    <part name="fault" element="tns:GroupRetrievalFault"/>
  </message>
  <message name="UserRetrievalFault">
    <part name="fault" element="tns:UserRetrievalFault"/>
  </message>
  <portType name="LiferaySOAPIdentityProviderPortType">
    <operation name="listGroupsAndRolesByUserCustomField">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPIdentityProvider/listGroupsAndRolesByUserCustomFieldRequest" message="tns:listGroupsAndRolesByUserCustomField"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPIdentityProvider/listGroupsAndRolesByUserCustomFieldResponse" message="tns:listGroupsAndRolesByUserCustomFieldResponse"/>
      <fault message="tns:UserManagementPortalException" name="UserManagementPortalException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPIdentityProvider/listGroupsAndRolesByUserCustomField/Fault/UserManagementPortalException"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPIdentityProvider/listGroupsAndRolesByUserCustomField/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPIdentityProvider/listGroupsAndRolesByUserCustomField/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserRetrievalFault" name="UserRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPIdentityProvider/listGroupsAndRolesByUserCustomField/Fault/UserRetrievalFault"/>
    </operation>
  </portType>
  <binding name="LiferaySOAPIdentityProviderPortBinding" type="tns:LiferaySOAPIdentityProviderPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listGroupsAndRolesByUserCustomField">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementPortalException">
        <soap:fault name="UserManagementPortalException" use="literal"/>
      </fault>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserRetrievalFault">
        <soap:fault name="UserRetrievalFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LiferaySOAPIdentityProvider">
    <port name="LiferaySOAPIdentityProviderPort" binding="tns:LiferaySOAPIdentityProviderPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

