vo-management/usermanagement-stubs/1.0.2-3.11.0-126934/schema/LiferaySOAPRoleManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-12/14/2009 02:16 PM(ramkris)-. -->
<definitions targetNamespace="http://ws.usermanagement.vomanagement.gcube.org/" name="LiferaySOAPRoleManager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.usermanagement.vomanagement.gcube.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.usermanagement.vomanagement.gcube.org/" schemaLocation="LiferaySOAPRoleManager_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getRole">
    <part name="parameters" element="tns:getRole"/>
  </message>
  <message name="getRoleResponse">
    <part name="parameters" element="tns:getRoleResponse"/>
  </message>
  <message name="UserManagementSystemException">
    <part name="fault" element="tns:UserManagementSystemException"/>
  </message>
  <message name="RoleRetrievalFault">
    <part name="fault" element="tns:RoleRetrievalFault"/>
  </message>
  <message name="getRoleId">
    <part name="parameters" element="tns:getRoleId"/>
  </message>
  <message name="getRoleIdResponse">
    <part name="parameters" element="tns:getRoleIdResponse"/>
  </message>
  <message name="listAllowedRoles">
    <part name="parameters" element="tns:listAllowedRoles"/>
  </message>
  <message name="listAllowedRolesResponse">
    <part name="parameters" element="tns:listAllowedRolesResponse"/>
  </message>
  <message name="GroupRetrievalFault">
    <part name="fault" element="tns:GroupRetrievalFault"/>
  </message>
  <message name="UserManagementIOException">
    <part name="fault" element="tns:UserManagementIOException"/>
  </message>
  <message name="UserManagementFileNotFoundException">
    <part name="fault" element="tns:UserManagementFileNotFoundException"/>
  </message>
  <message name="listRoles">
    <part name="parameters" element="tns:listRoles"/>
  </message>
  <message name="listRolesResponse">
    <part name="parameters" element="tns:listRolesResponse"/>
  </message>
  <message name="listRolesByGroup">
    <part name="parameters" element="tns:listRolesByGroup"/>
  </message>
  <message name="listRolesByGroupResponse">
    <part name="parameters" element="tns:listRolesByGroupResponse"/>
  </message>
  <message name="listRolesByUser">
    <part name="parameters" element="tns:listRolesByUser"/>
  </message>
  <message name="listRolesByUserResponse">
    <part name="parameters" element="tns:listRolesByUserResponse"/>
  </message>
  <message name="listRolesByUserAndGroup">
    <part name="parameters" element="tns:listRolesByUserAndGroup"/>
  </message>
  <message name="listRolesByUserAndGroupResponse">
    <part name="parameters" element="tns:listRolesByUserAndGroupResponse"/>
  </message>
  <portType name="LiferaySOAPRoleManagerPortType">
    <operation name="getRole">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRoleRequest" message="tns:getRole"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRoleResponse" message="tns:getRoleResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRole/Fault/UserManagementSystemException"/>
      <fault message="tns:RoleRetrievalFault" name="RoleRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRole/Fault/RoleRetrievalFault"/>
    </operation>
    <operation name="getRoleId">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRoleIdRequest" message="tns:getRoleId"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRoleIdResponse" message="tns:getRoleIdResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/getRoleId/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="listAllowedRoles">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listAllowedRolesRequest" message="tns:listAllowedRoles"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listAllowedRolesResponse" message="tns:listAllowedRolesResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listAllowedRoles/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listAllowedRoles/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserManagementIOException" name="UserManagementIOException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listAllowedRoles/Fault/UserManagementIOException"/>
      <fault message="tns:UserManagementFileNotFoundException" name="UserManagementFileNotFoundException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listAllowedRoles/Fault/UserManagementFileNotFoundException"/>
    </operation>
    <operation name="listRoles">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesRequest" message="tns:listRoles"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesResponse" message="tns:listRolesResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRoles/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="listRolesByGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByGroupRequest" message="tns:listRolesByGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByGroupResponse" message="tns:listRolesByGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByGroup/Fault/GroupRetrievalFault"/>
      <fault message="tns:UserManagementFileNotFoundException" name="UserManagementFileNotFoundException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByGroup/Fault/UserManagementFileNotFoundException"/>
      <fault message="tns:UserManagementIOException" name="UserManagementIOException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByGroup/Fault/UserManagementIOException"/>
    </operation>
    <operation name="listRolesByUser">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUserRequest" message="tns:listRolesByUser"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUserResponse" message="tns:listRolesByUserResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUser/Fault/UserManagementSystemException"/>
    </operation>
    <operation name="listRolesByUserAndGroup">
      <input wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUserAndGroupRequest" message="tns:listRolesByUserAndGroup"/>
      <output wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUserAndGroupResponse" message="tns:listRolesByUserAndGroupResponse"/>
      <fault message="tns:UserManagementSystemException" name="UserManagementSystemException" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUserAndGroup/Fault/UserManagementSystemException"/>
      <fault message="tns:GroupRetrievalFault" name="GroupRetrievalFault" wsam:Action="http://ws.usermanagement.vomanagement.gcube.org/LiferaySOAPRoleManager/listRolesByUserAndGroup/Fault/GroupRetrievalFault"/>
    </operation>
  </portType>
  <binding name="LiferaySOAPRoleManagerPortBinding" type="tns:LiferaySOAPRoleManagerPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getRole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="RoleRetrievalFault">
        <soap:fault name="RoleRetrievalFault" use="literal"/>
      </fault>
    </operation>
    <operation name="getRoleId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="listAllowedRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserManagementIOException">
        <soap:fault name="UserManagementIOException" use="literal"/>
      </fault>
      <fault name="UserManagementFileNotFoundException">
        <soap:fault name="UserManagementFileNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="listRoles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="listRolesByGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
      <fault name="UserManagementFileNotFoundException">
        <soap:fault name="UserManagementFileNotFoundException" use="literal"/>
      </fault>
      <fault name="UserManagementIOException">
        <soap:fault name="UserManagementIOException" use="literal"/>
      </fault>
    </operation>
    <operation name="listRolesByUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
    </operation>
    <operation name="listRolesByUserAndGroup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserManagementSystemException">
        <soap:fault name="UserManagementSystemException" use="literal"/>
      </fault>
      <fault name="GroupRetrievalFault">
        <soap:fault name="GroupRetrievalFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="LiferaySOAPRoleManager">
    <port name="LiferaySOAPRoleManagerPort" binding="tns:LiferaySOAPRoleManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

