vre-management/resourcemanager-stubs/2.2.2-4.5.0-146451/wsdl/Administration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Reporting"
    targetNamespace="http://gcube-system.org/namespaces/vremanagement/resourcemanager/administration"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://gcube-system.org/namespaces/vremanagement/resourcemanager/administration"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"
    xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types"
    xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults"
    xmlns:vretypes="http://gcube-system.org/common/vremanagement/types"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"    
    xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<import namespace="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider"  location="../gcube/common/core/providers/GCUBEProvider.wsdl"/>

	<import namespace="http://gcube-system.org/namespaces/common/core/faults" location="../gcube/common/core/faults/GCUBEFaults.wsdl"/>
	
	<import namespace="http://gcube-system.org/common/vremanagement/types" location="VREManagementTypes.wsdl"/> 


<!--============================================================

                      T Y P E S
                      
  ============================================================-->
<types>
<xsd:schema targetNamespace="http://gcube-system.org/namespaces/vremanagement/resourcemanager/administration"
    xmlns:tns="http://gcube-system.org/namespaces/vremanagement/resourcemanager/administration"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   
   <xsd:import namespace="http://gcube-system.org/namespaces/common/core/types" schemaLocation="../gcube/common/core/types/GCUBETypes.xsd"/>
   <xsd:import namespace="http://gcube-system.org/common/vremanagement/types" schemaLocation="VREManagementTypes.xsd"/>
	   	
  	<xsd:element name="targetScope" type="coretypes:scope"/>		 
	
    <xsd:element name="VOID">
   		<xsd:complexType/>
    </xsd:element>		
   	
	<xsd:element name="InvalidScopeFaultType">
		<xsd:complexType>
              <xsd:complexContent>
                    <xsd:extension base="corefaults:GCUBEUnrecoverableFault">
                        <xsd:sequence/>                        
                    </xsd:extension>
                </xsd:complexContent>
    	</xsd:complexType>
	</xsd:element>
</xsd:schema>
</types>

 <!--============================================================

                       M E S S A G E S

  ============================================================-->

	<message name="VoidMessage">
		<part name="response" element="tns:VOID"/>
	</message>	
	<message name="InvalidScopeFaultMessage">
	   <part name="fault" element="vretypes:InvalidScopeFaultType"/>
  	</message>

<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
<portType name="AdministrationPortType" 
    wsdlpp:extends="provider:GCUBEProvider">
    
    <operation name="CleanSoftwareState">
        <input message="tns:VoidMessage"/>
        <output message="tns:VoidMessage"/>
        <fault name="fault" message="tns:InvalidScopeFaultMessage"	/>
    </operation>
    

</portType>

</definitions>
    