data-access/tree-repository/3.0.1-4.12.1-126575/my-container/share/schema/tree-manager/TWriter_flattened.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="T-Writer" targetNamespace="http://gcube-system.org/namespaces/data/tm" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:coretypes="http://gcube-system.org/namespaces/common/core/types" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:gtwsdl0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gcube-system.org/namespaces/data/tm" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:provider="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider" xmlns:corefaults="http://gcube-system.org/namespaces/common/core/faults">
  <import namespace="http://gcube-system.org/namespaces/common/core/faults" location="../gcube/common/core/faults/GCUBEFaults.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl"/>
  <import namespace="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider" location="../gcube/common/core/providers/GCUBEProvider.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" location="../wsrf/lifetime/WS-ResourceLifetime.wsdl"/>
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
  <types>
    <xsd:schema targetNamespace="http://gcube-system.org/namespaces/data/tm" xmlns:rpns0="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" xmlns:rpns1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" xmlns:tns="http://gcube-system.org/namespaces/data/tm" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd"/>

<xsd:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.xsd" schemaLocation="../wsrf/notification/WS-BaseN.xsd"/>

<xsd:import namespace="http://gcube-system.org/namespaces/common/core/porttypes/GCUBEProvider" schemaLocation="../gcube/common/core/providers/GCUBEProvider.xsd"/>


			<xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="../ws/addressing/WS-Addressing.xsd"/>

			<xsd:import namespace="http://gcube-system.org/namespaces/common/core/types"/>

			<xsd:element name="Add" type="tns:anyHolder"/>
			<xsd:element name="AddResponse" type="tns:anyHolder"/>

			<xsd:element name="AddRS" type="tns:RSLocator"/>
			<xsd:element name="AddRSResponse" type="tns:RSLocator"/> <!-- of AddOutcome -->

			<xsd:element name="Update" type="tns:anyHolder"/>
			<xsd:element name="UpdateResponse" type="tns:anyHolder"/>

			<xsd:element name="UpdateRS" type="tns:RSLocator"/>
			<xsd:element name="UpdateRSResponse" type="tns:RSLocator"/> <!-- of UpdateFailures -->

			<xsd:complexType name="anyHolder">
				<xsd:sequence>
					<xsd:any maxOccurs="1" namespace="##any" processContents="skip"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RSLocator">
				<xsd:complexContent>
					<xsd:restriction base="xsd:string">
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:element name="UnsupportedOperationFault">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="corefaults:GCUBEUnrecoverableFault"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="UnsupportedRequestFault">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="corefaults:GCUBEUnrecoverableFault"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="UnknownTreeFault">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="corefaults:GCUBEUnrecoverableFault"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="InvalidTreeFault">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="corefaults:GCUBEUnrecoverableFault"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

		<xsd:element name="TWriterPortTypeGTWSDLResourceProperties">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" ref="provider:ServiceID"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="provider:ServiceName"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="provider:VO"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns0:FixedTopicSet"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="provider:RI"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="provider:ServiceClass"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:Topic"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="provider:GHN"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:TerminationTime"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="provider:Scope"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" ref="rpns0:TopicExpressionDialects"/>
            <xsd:element maxOccurs="1" minOccurs="1" ref="rpns1:CurrentTime"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="InvalidTreeFaultMessage">
    <part name="fault" element="tns:InvalidTreeFault"/>
  </message>
  <message name="AddRSResponse">
    <part name="response" element="tns:AddRSResponse"/>
  </message>
  <message name="UpdateRSResponse">
    <part name="response" element="tns:UpdateRSResponse"/>
  </message>
  <message name="UnsupportedRequestFaultMessage">
    <part name="fault" element="tns:UnsupportedRequestFault"/>
  </message>
  <message name="UnknownTreeFaultMessage">
    <part name="fault" element="tns:UnknownTreeFault"/>
  </message>
  <message name="UnsupportedOperationFaultMessage">
    <part name="fault" element="tns:UnsupportedOperationFault"/>
  </message>
  <message name="UpdateRequest">
    <part name="request" element="tns:Update"/>
  </message>
  <message name="AddResponse">
    <part name="response" element="tns:AddResponse"/>
  </message>
  <message name="UpdateResponse">
    <part name="response" element="tns:UpdateResponse"/>
  </message>
  <message name="UpdateRSRequest">
    <part name="request" element="tns:UpdateRS"/>
  </message>
  <message name="AddRSRequest">
    <part name="request" element="tns:AddRS"/>
  </message>
  <message name="AddRequest">
    <part name="request" element="tns:Add"/>
  </message>
  <portType name="TWriterPortType" wsrp:ResourceProperties="TWriterPortTypeGTWSDLResourceProperties">
    <operation name="add">
      <input message="tns:AddRequest"/>
      <output message="tns:AddResponse"/>
      <fault name="gcubefault" message="corefaults:GCUBEFaultMessage"/>
      <fault name="unsupportedrequestfault" message="tns:UnsupportedRequestFaultMessage"/>
      <fault name="invalidtreefault" message="tns:InvalidTreeFaultMessage"/>
      <fault name="unsupportedoperationfault" message="tns:UnsupportedOperationFaultMessage"/>
    </operation>
    <operation name="addRS">
      <input message="tns:AddRSRequest"/>
      <output message="tns:AddRSResponse"/>
      <fault name="gcubefault" message="corefaults:GCUBEFaultMessage"/>
      <fault name="unsupportedrequestfault" message="tns:UnsupportedRequestFaultMessage"/>
      <fault name="unsupportedoperationfault" message="tns:UnsupportedOperationFaultMessage"/>
    </operation>
    <operation name="update">
      <input message="tns:UpdateRequest"/>
      <output message="tns:UpdateResponse"/>
      <fault name="unknowntreefault" message="tns:UnknownTreeFaultMessage"/>
      <fault name="gcubefault" message="corefaults:GCUBEFaultMessage"/>
      <fault name="unsupportedrequestfault" message="tns:UnsupportedRequestFaultMessage"/>
      <fault name="invalidtreefault" message="tns:InvalidTreeFaultMessage"/>
      <fault name="unsupportedoperationfault" message="tns:UnsupportedOperationFaultMessage"/>
    </operation>
    <operation name="updateRS">
      <input message="tns:UpdateRSRequest"/>
      <output message="tns:UpdateRSResponse"/>
      <fault name="gcubefault" message="corefaults:GCUBEFaultMessage"/>
      <fault name="unsupportedrequestfault" message="tns:UnsupportedRequestFaultMessage"/>
      <fault name="unsupportedoperationfault" message="tns:UnsupportedOperationFaultMessage"/>
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </operation>
    <operation name="Subscribe">
      <input message="wsntw:SubscribeRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/Subscribe"/>
      <output message="wsntw:SubscribeResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/SubscribeResponse"/>
      <fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <fault name="SubscribeCreationFailedFault" message="wsntw:SubscribeCreationFailedFault"/>
      <fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <fault name="TopicPathDialectUnknownFault" message="wsntw:TopicPathDialectUnknownFault"/>
    </operation>
    <operation name="GetCurrentMessage">
      <input message="wsntw:GetCurrentMessageRequest" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessage"/>
      <output message="wsntw:GetCurrentMessageResponse" wsa:Action="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification/GetCurrentMessageResponse"/>
      <fault name="TopicNotSupportedFault" message="wsntw:TopicNotSupportedFault"/>
      <fault name="InvalidTopicExpressionFault" message="wsntw:InvalidTopicExpressionFault"/>
      <fault name="ResourceUnknownFault" message="wsntw:ResourceUnknownFault"/>
      <fault name="NoCurrentMessageOnTopicFault" message="wsntw:NoCurrentMessageOnTopicFault"/>
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse"/>
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </operation>
    <operation name="Destroy">
      <input message="gtwsdl0:DestroyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/Destroy"/>
      <output message="gtwsdl0:DestroyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/DestroyResponse"/>
      <fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault"/>
      <fault name="ResourceNotDestroyedFault" message="gtwsdl0:ResourceNotDestroyedFault"/>
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault"/>
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
    </operation>
    <operation name="SetResourceProperties">
      <input name="SetResourcePropertiesRequest" message="wsrpw:SetResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourceProperties"/>
      <output name="SetResourcePropertiesResponse" message="wsrpw:SetResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/SetResourcePropertiesResponse"/>
      <fault name="InvalidSetResourcePropertiesRequestContentFault" message="wsrpw:InvalidSetResourcePropertiesRequestContentFault"/>
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault"/>
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
      <fault name="SetResourcePropertyRequestFailedFault" message="wsrpw:SetResourcePropertyRequestFailedFault"/>
      <fault name="UnableToModifyResourcePropertyFault" message="wsrpw:UnableToModifyResourcePropertyFault"/>
    </operation>
    <operation name="SetTerminationTime">
      <input message="gtwsdl0:SetTerminationTimeRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTime"/>
      <output message="gtwsdl0:SetTerminationTimeResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime/SetTerminationTimeResponse"/>
      <fault name="ResourceUnknownFault" message="gtwsdl0:ResourceUnknownFault"/>
      <fault name="UnableToSetTerminationTimeFault" message="gtwsdl0:UnableToSetTerminationTimeFault"/>
      <fault name="TerminationTimeChangeRejectedFault" message="gtwsdl0:TerminationTimeChangeRejectedFault"/>
    </operation>
  </portType>
</definitions>
